<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/css.css">
</head>
<body>
<div id="dash_header">
	
	<div id="currentprofile"><img  src="./images/user.png" width="30px"><font id="headerusername">Gilbert Tuyishime  <a id="logoutlink" href="" alt="logout">(Logout)</a></font></div>

	
	
</div>


<div id="menu">
	<ul>
		<li ><div id="logoplace"><center><img src="./images/sendit.png" height="50px"></center></div></li>
		<li><a  class="active" href=""><b>Home</b></a></li>
		<li><a  href="./addparcel.ejs"><b>Add parcel</b></a></li>
		<li><a  href="./intransit.ejs"><b>In transit parcel</b></a></li>
		<li><a  href="./allparcels.ejs"><b>All parcel delivery order</b></a></li>
		<li><a  href="./profile.ejs"><b>Profile</b></a></li>
	</ul>
</div>


<div id="dash_body">
	<table width="100%"><tr><td>
		<div id="transitP"><br><font id="textreport"><b> In transit: 0</b></font></div></td>
	 <td><div id="pdelivered"><br><font id="textreport"><b> Delivered parcel: 0</b></font></div></td>
	<td><div id="totalP"><br><font id="textreport"><b> Total parcel: 0</b></font></div></td> 
</tr>
</table>
<div id="recentparceldiv">
<center><font id="recenttitle"><b>Recent Parcels</b></font>
<table id="recentlistparcel">
	<tr><th>No Parcel</th><th>Title</th><th>Pickup location</th><th>Destination</th><th>Price</th><th>Status</th></tr>
	<tr><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
	<tr><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
	<tr><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
</table>
</center>
</div>
</div>


<div id="footer_dash"><center><font id="footertext">&copy;copyright 2018 SendIT</font></center></div>
</body>
</html>