<!DOCTYPE html>
<html>
<head>
    <title>intransit</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/css.css">
</head>
<body>
<div id="dash_header">
	
	<div id="currentprofile"><img  src="./images/user.png" width="30px"><font id="headerusername">Gilbert Tuyishime  <a id="logoutlink" href="" alt="logout">(Logout)</a></font></div>

	
	
</div>


<div id="menu">
	<ul>
		<li ><div id="logoplace"><center><img src="./images/sendit.png" height="50px"></center></div></li>
		<li><a  href="./dashboard.ejs"><b>Home</b></a></li>
		<li><a  href="./addparcel.ejs"><b>Add parcel</b></a></li>
		<li><a  class="active" href="#"><b>In transit parcel</b></a></li>
		<li><a  href="./allparcels.ejs"><b>All parcel delivery order</b></a></li>
		<li><a  href="./profile.ejs"><b>Profile</b></a></li>
	</ul>
</div>


<div id="dash_body">

<div id="recentparceldiv">
<center><font id="recenttitle"><b>In transit parcel</b></font>
<table id="recentlistparcel">
	<tr><th>No Parcel</th><th>Title</th><th>Pickup location</th><th>Destination</th><th>Price</th><th>Status</th></tr>
	<tr><td>example</td><td><a href="./parceldetails.ejs">example</a></td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
	<tr><td>example</td><td><a href="./parceldetails.ejs">example</a></td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
	<tr><td>example</td><td><a href="./parceldetails.ejs">example</a></td><td>example</td><td>example</td><td>example</td><td>example</td></tr>
</table>
</center>
</div>

</div>


<div id="footer_dash"><center><font id="footertext">&copy;copyright 2018 SendIT</font></center></div>
</body>
</html>