<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/css.css">
</head>
<body>

<center>
    <img id="logo" src="./images/sendit.png">


<div id="signupbody">
  <form action="">
    <input type="text" id="firstname" name="firstname" placeholder="First name">
    <input type="text" id="lastname" name="lastname" placeholder="Last name">
    <input type="text" id="email" name="email" placeholder="Email">
    <input type="number" id="phonenumber" name="phonenumber" placeholder="phone number">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm password">
  
    <input id="signup" type="submit" value="SIgn up">
    <a href="/" id="link">Already have an account</a>
  </form>
</div>
</center>
<div id="footer"><font id="footertext">&copy;copyright 2018 SendIT</font></div>
</body>
</html>

